<h1 style="font-weight: bold;
  color: #545d89;"><i class="bi bi-file-slides"></i>Editar Aula</h1>
<p>Seleciona abaixo um curso para poder continuar</p>

<div style="margin-bottom: 3%">
  <mat-form-field style="width: 100%;">
    <mat-label>{{titles}}</mat-label>
    <mat-select>
      <mat-option (click)="selectedCurso(curso)"
        *ngFor="let curso
        of cursos; let i= index"
        [value]="curso">{{curso.nome}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field *ngIf="inputAula" style="width: 100%;">
    <mat-label>{{titlesAula}}</mat-label>
    <mat-select>
      <mat-option (click)="selectedAula(aula)"
        *ngFor="let aula
        of aulasdisponiveis; let i= index"
        [value]="aula">{{aula.titulo}}</mat-option>
    </mat-select>
  </mat-form-field> -->
</div>
