<div class="loginPage">
  <div class="row g-0">
    <div class="col-md-7 col-sm-7 d-none d-sm-none d-md-block teste fullColum">
      <div style="padding: 26% 10%">
        <div>
          <p class="texts">K</p>
        </div>
        <p style="color: white; font-weight: bold; width: 50%; font-size: 37px;
          line-height: 40px;">
          Faça parte da maior comunidade B2B do Brasil.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-5 col-sm-12 centralizacao fullColum">
      <app-login-box [style.width]="sizes >= 768 ? '60%' : '85%'"></app-login-box>
    </div>
  </div>
</div>
