.tituloNoticia {
  text-align: start;
  font-size: 30px;
  /* margin-bottom: 4%; */
}

.descricaoNoticia {
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 1.5;
}

.badBroad {
  font-size: 17px;
  font-weight: 400;
  color: #b8b2bf;
  margin-bottom: 3%;
  cursor: pointer;
}

.badBroad:hover {
  font-size: 17px;
  font-weight: 400;
  color: #788ff7;
  margin-bottom: 3%
}

.release {
  font-weight: bold;
  color: #304bc7;
}
